.root_footer {
  display: flex;
  background: #000 linear-gradient(90deg, #000, #0af, #000) no-repeat;
  background-size: 50%;
  color: #fff;
  height: 16px;
  font-size: 8px;
  align-items: center;
  animation: 3s pulse ease-in infinite;
  padding: 0 4px;

  &__info_block {
    flex: 1;
  }
}

@keyframes pulse {
  from {
    background-position-x: -200%;
  }
  to {
    background-position-x: 200%;
  }
}
