.header {
  &--expand {
    --header-backplate-size: 450px;
  }
}

.panel {
  &__container {
    display: flex;
  }

  &__item {
    padding: 15px 30px;
    box-sizing: border-box;
    width: 100%;
    display: none;

    &--active {
      display: block;
    }
  }
}
