.window {
  $root: &;

  &s {
    --window-background-color: 0, 0, 0;
    --window-background-opacity: 0.5;
    --window-backdrop-filter: blur(16px);
    --window-border-round: 4px;
    --window-text-color: 255, 255, 255;

    @media (prefers-color-scheme: dark) {
      --window-background-color: 255, 255, 255;
      --window-background-opacity: 0.05;
    }

    overflow: hidden;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  &__item {
    position: absolute;
    pointer-events: auto;
    overflow: auto;
    background-color: rgba(var(--window-background-color), var(--window-background-opacity));
    border-radius: var(--window-border-round);
    backdrop-filter: var(--window-backdrop-filter);
    color: rgb(var(--window-text-color));
    box-shadow: inset 0 0 1px 0 rgb(var(--window-text-color));

    &:not(#{$root}--active) {
      display: none;
    }
  }
}
